@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background-color: #e9ebf0;
}

td,
th {
  border: 1px solid rgb(136, 127, 127);
  background-color: white;
}



.th3 {
  width: 50px;
}

.th4 {
  width: 50px;
}

.th1 {
  width: 200px;
}

.th2 {
  width: 100px;
}

#deleteButton {
  color: red;
  background-color: white;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;

}

#readButton {
  background-color: white;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#bookTable {
  margin: auto;

}

h1 {
  text-align: center;
}

#showMenu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
  background-color: white;
  font-weight: bold;
}

#form {
  width: 50%;
  margin: auto;
  padding-top: 100px;

}

#cell5 {
  border: none;
  background-color: #e9ebf0;
}

#cell6 {
  border: none;
  background-color: #e9ebf0;
}

.input {
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: right;

}

.submit {
  text-align: right;

}

.submit>button {
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}

input {
  border-radius: 5px;
}

fieldset {
  border: none;


}