@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

td, th {
    border: 1px solid black;
  }

  th {
    width: 100px
  }

  #deleteButton {
    color: red;
    
  }

  #bookTable {
    margin: auto;
    
  }

  h1 {
    text-align: center;
  }

  #showMenu {
      position: fixed;
      bottom: 20px;
      right: 20px;
      padding: 5px;
      border-radius: 10px;
    }

    #form {
      width: 50%;
      margin:auto;
      padding-top: 100px;
      
    }

    #cell5 {
      border: none;
    }

    #cell6 {
      border: none;
    }
  
    .input {
      padding-bottom: 10px;
      padding-top: 10px;
      text-align: right;
      width: 300px
    }

    .submit {
      text-align: right;
      
    }

    .submit > button {
      border-radius: 10px;
      padding: 5px;
    }

    input {
      border-radius: 5px;
    }
