body {
  width: 100%;
}

table, td, th {
    border: 1px solid black;
  }

  th {
    width: 100px
  }

  #deleteButton {
    color: red;
  }

  #bookTable {
    margin: auto;
    
  }

  h1 {
    text-align: center;
  }

  #showMenu {
      position: fixed;
      bottom: 20px;
      right: 20px;
    }
  